/.vs
/L2PAPIClient/obj
/Resources/bin
/Resources/obj
/packages
/MobileL2P/obj
/MobileL2P/bin
/L2PAPIClient/bin/Debug/L2PAPIClient.dll
/L2PAPIClient/bin/Debug/L2PAPIClient.pdb
/L2PAPIClient/bin/Debug/L2PAPIClient.dll.config
